/* You can add global styles to this file, and also import other style files */

:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/logo-light.svg');
  --lpx-logo-icon: url('/assets/images/logo/br_icon.svg');

  .abp-support {
    background-image: url('/assets/images/getting-started/abp-support-white.svg');
  }
  .abp-community {
    background-image: url('/assets/images/getting-started/abp-community-white.svg');
  }
  .abp-blog {
    background-image: url('/assets/images/getting-started/abp-blog-white.svg');
  }
  .logo-x {
    background-image: url('/assets/images/getting-started/x-white.svg');
  }
  
  td {    
    color: white;
  }
  
  .bar-chart-box{
    background-color: white;
  }

  .box-one p {
    color: rgb(0, 0, 0);
  }

  p { 
    color: white;
  }

  .service-name {
    color: rgb(255, 255, 255);
  }

  th {
    color: white;
  }

  h3 {
    color: white;
  }

  .product-name-table {
    color: black;
  }
  
  .product-title{
    color: black;
  }

  .text-title-2 {
    color: black;
  }

  .text-title-2-rating {
    color: black;
  }

  .form-control {
    background-color: white;
    color: black;
  }

  .user-detail {
    border: 2px solid #0004ff;
  }

  .product-table-body td {
    color: black;
  }

  .btn-edit {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: none;
  }

  .btn-edit:active {
    background-color: #ff6a00 ;
    color: white;
  }

  .update-product { 
    border: 2px solid #0004ff;
    color: #0004ff;
  }

  .btn-page.active {
    background-color: #ff6a00;
    border: 2px solid #ff6a00;
    color: white;

  }

  .card {
    background-color: rgba(0, 0, 0, 0.711);
    border: 1px solid rgba(255, 255, 255, 0.275);
    box-shadow: 0px 4px 6px rgba(0, 0, 255, 0.592);
  }
  
  .card-product-updt {
    background-color: rgba(0, 0, 0, 0.711);
    box-shadow: 0px 4px 6px rgba(0, 0, 255, 0.592);
    border: 1px solid rgba(255, 255, 255, 0.275);

  }

  .product-title {
    color: white;
  }

  table thead tr th{
    color: white;
  }

  .index-no {
    color: white;
  }

  .product-name-table {
    color: white;
  }

  .product-hover td {
    color: white;
  }

  


  

}

          
  :root .lpx-theme-light {
    --lpx-logo: url('/assets/images/logo/logo-dark.svg');
    --lpx-logo-icon: url('/assets/images/logo/br_icon.svg');

    td{
      color: rgba(0, 0, 0, 0.672);
    }

    .chart-title{
      color: rgb(0, 0, 0);
    }

    .bar-chart-box{
      background-color: none;
    }
    .service-name-1 {
      background-color: #343de3dc;
      color: white;
    }

    .survey-summary-2 h3 {
      color: black;
    }

    .title-text {
      color: black;
    }

    .survey-summary-2 th {
      color: rgba(0, 0, 0, 0.581);
    }

    .service-name-1 .service-text{
      color: white;
    }

    .survey-list-admin th {
      color: white;
    }
  
  .text-title-2 {
    color: rgb(255, 255, 255);
  }

  .card-overlay td, th, h3 {
    color: white;
  } 

  .star-counter .service-name-total-submit {
    color: white;
  }

  .product-title {
    color: black;
  }

  h3 {
    color: black;
  }

  .insert-product {
    border: 1px solid rgba(0, 0, 0, 0.207);
  }

  .product-info .product-name-table {
    color: rgba(0, 0, 0, 0.803);
  }

  .product-table-body td {
    color: black;
  }
  
  .text-title-2 {
    color: black;
  }

  .form-control-search {
    border: 1px solid rgba(0, 0, 0, 0.348);
    border-radius: 5px;
  }

  .btn-page.active {
    background-color: #0004ff;
    border: 2px solid #0004ff;
    color: white;
}

.btn-edit {
  background-color: #0004ff;
  color: white;
}

.btn-edit:hover {
  background-color: #0003a6;
  border: 2px solid #0003a6;
  color: white;
}

.btn-edit:active {
  background-color: #0004ff;
  border: 2px solid #0004ff;
  color: white;
}

  
} 

:root {
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');

  
  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/getting-started/x.svg');
  }

  .service-name {
    color: black;
  }
  
  h3 {
    color: black;
  }

  th {
    color: black  ;
  }

  .product-name-table {
    color: black;
  }
  
}


html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-repeat: no-repeat;
  width: 100%;

}
